{% extends "base.twig" %}

{% block head %}
    {% block title %}
        <title>Homepage - HOLIDAYROOMS</title>
    {% endblock %}
{% endblock %}

{% block header %}
{% include "header.twig" %}
<div class="row">
    <div class="col-xs-12 col-wrapper">
        <section id="home-well" class="well">
            <fieldset id="home-form">        
                <form  action="" method="post" class="form-horizontal">
                    <div class="col-md-2 col-md-offset-1">
                        <div class="form-group home-form">
                            <label for="region" class="control-label home-label">Region</label>
                            <div class="form-control-wrapper">
                                <input type="text" id="region" name="region" class="form-control text-center" value="{%if value is defined%}{{value.region}}{%endif%}" placeholder="Welches Land?">
                            </div>
                        </div>
                    </div>                      
                    <div class="col-md-2">
                        <div class="form-group home-form">
                            <label for="ort" class="control-label home-label">Ort</label>
                            <div class="form-control-wrapper">
                                <input type="text" id="ort" name="ort" class="form-control text-center" value="{%if value is defined%}{{value.ort}}{%endif%}" placeholder="Welche Stadt?">
                            </div>
                        </div>
                    </div>                       
                    <div class="col-md-2">
                        <div class="form-group home-form">
                            <div class="form-control-wrapper">
                                <label for="beginn" class="control-label home-label">Check-In</label>
                                <input type="date" id="beginn" name="beginn" class="form-control text-center" value="{%if value is defined%}{{value.beginn}}{%endif%}" required placeholder="Check-In">
                            </div>
                        </div>                
                    </div>     
                    <div class="col-md-2">
                        <div class="form-group home-form">
                            <div class="form-control-wrapper">                
                                <label for="ende" class="control-label home-label">Check-Out</label>
                                <input type="date" id="ende" name="ende" class="form-control text-center" value="{%if value is defined%}{{value.ende}}{%endif%}" required placeholder="Check-Out">
                            </div>
                        </div>                
                    </div>
                    <div class="col-md-1">
                        <div class="form-group home-form">
                            <div class="form-control-wrapper">                
                                <label for="gaeste" class="control-label home-label">Gäste</label>
                                <input id="gaeste" type="number" name="gaeste" class="form-control text-center" value="{%if value is defined%}{{value.gaeste}}{%endif%}" placeholder="Anzahl">
                            </div>
                        </div>                
                    </div>                         
                    <div class="col-md-1">            
                        <div class="form-group home-form">
                            <button  id="home-button" class="btn btn-primary" type="submit">Suche</button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </section>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="row">    
    <div class="col-lg-12 col-wrapper">
        {% if errormessages is defined and errormessages is not null %}
        <section class="well text-center">
            <div class="row">
                {% if errormessages.region is defined %}
                <div class="col-sm-4">
                    <p class="alert alert-dismissable alert-danger">
                        <strong>{{errormessages.region}}</strong>
                    </p>
                </div>                    
                {% endif %}
                {% if errormessages.ort is defined %}    
                <div class="col-sm-4">
                    <p class="alert alert-dismissable alert-danger">
                        <strong>{{errormessages.ort}}</strong>
                    </p>
                </div>                
                {% endif %}  
                {% if errormessages.gaeste is defined %}         
                <div class="col-sm-4">
                    <p class="alert alert-dismissable alert-danger">
                        <strong>{{errormessages.gaeste}}</strong>
                    </p>
                </div>    
                {% endif %}
            </div>
        </section>
        {% endif %}         
        {% if message is defined %}
        <section class="well">
            <p class="alert alert-dismissable alert-danger text-center">
                <strong>{{message}}</strong>
            </p>
        </section>
        {% endif %}
        {% if output is defined and output != false %}
        <section class="well">
            <div class="row"> 
                {% for entry in output %}
                <div class="col-sm-4">   
                    <article class="well">        
                        <p>
                            <strong>{{ entry.bezeichnung }}</strong>
                        </p>
                        <p>Anzahl Schlafzimmer: {{ entry.schlafzimmer }}</p>
                        <p>Anzahl Betten: {{ entry.betten }}</p>
                        <br>
                        <p>Preis: {{entry.preis}}€</p>
                        <br>
                        <p>{{ entry.plz }} {{ entry.ort }}</p>
                        <p>{{ entry.straße }} </p>
                        <br>
                        <p>Verfügbar von {{entry.verfuegbar_anfang}} bis {{entry.verfuegbar_ende}}</p>
                        <p>
                            <a href="booking?id={{entry.id_ferienhaus}}&beginn={{value.beginn}}&ende={{value.ende}}">Buchen</a>
                        </p>
                    </article>
                </div>    
                {% endfor %}
            </div>
        </section>
        {% endif %}
    </div>
{% endblock %}